.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  width: 300px;
  height: 400px;
  background-color: #fff;
  padding: 8px;
  z-index: 1000;
  pointer-events: all;
}
