.button {
  text-align: center;
  color: #fff;
  display: flex;
  width: 140px;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  @include mobile {
    font-size: 12px;
    height: 40px;
    width: 120px;
  }

  &__purple {
    background: #703EFC;
    color: white;
  }

  &__white {
    background: #FFFFFF;
    color: black;
  }

  &__grey {
    background: #ffffff1a;
  }
}
