.wrapper {
  position: absolute;
  left: 0;
  bottom: rem(70px);
  padding: 0 rem(48px);
  z-index: 1000;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  gap: 12px;
  flex-wrap: wrap;
}

.bottomBar {
  gap: 12px;
  // height: 200px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 15px;

  &_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);
    font-weight: 500;
    color: var(--black);
    padding: rem(14px) rem(20px);
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: rgba($color: #5b5b5b, $alpha: 0.1);
    white-space: nowrap;
    border-radius: rem(4px);

    &:disabled {
      opacity: 0.6;
    }

    &_preview {
      margin-left: 304px;
    }

    svg {
      width: rem(20px);
      height: rem(20px);

      path {
        fill: var(--black)
      }
    }

    &.noFill {
      svg {
        path {
          fill: none;
          stroke: var(--black)
        }
      }
    }

    &.disable {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &_changeView {
    position: absolute;
    right: 100px;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    &_btn {
      padding: 10px 20px;
      font-size: 16px;
      color: #000;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #000;
    }
  }
}

.active {
  border: 1px solid #fff;
  color: #fff;
  background: #000;
}