.btn {
  border-radius: 100px;
  background: #6CEDFC;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all .3s ease-out;
  text-transform: uppercase;
  color: #000;
  text-align: center;

  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */

  &:hover {
    background: #000000;
    color: white;
  }

  height: 42px;
  padding: 4px 30px;
  font-size: 14px;

  @include min-tablet {
    height: 46px;
  }

  @include min-pc {
    font-size: 16px;
    height: 48px;
    padding: 6px 32px;
  }
}


.banner {
  border-radius: 20px;
  background: #FFF;

  position: fixed;
  z-index: 5;
  bottom: 16px;
  padding: 16px;
  left: 16px;
  width: calc(100% - 32px);

  @include min-tablet {
    bottom: 24px;
    left: 24px;
    padding: 24px;
    width: calc(100% - 44px);
  }

  @include min-pc {
    padding: 32px;
    width: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_icon {

    display: none;
    @include min-pc {
      display: block;
    }

    svg {

      @include min-tablet {
        width: 70px;
        height: 70px;
      }

      @include min-pc {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_left {

    @include min-pc {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  &_right {
    &_top {
      display: flex;
      width: 100%;
      margin-bottom: 8px;
      justify-content: center;

      @include min-tablet{
        margin-bottom: 18px;
      }
      @include min-pc {
        justify-content: flex-end;
      }
    }

    &_bottom {
      display: flex;
      align-items: center;
      gap: .5em;
      color: #000;

      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      font-size: 13px;

      justify-content: center;
      @include min-pc {
        justify-content: flex-start;
      }

      svg {
        height: 15px;
        width: auto;
      }

      @include min-tablet {
        font-size: 14px;
        svg {
          height: 16px;
          width: auto;
        }
      }

      @include min-pc {
        font-size: 16px;
        svg {
          height: 18px;
          width: auto;
        }
      }

    }
  }

  &_content {

    &_heading {
      color: #000;

      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 16px;
      font-size: 22px;
      text-align: center;

      @include min-tablet {
        font-size: 36px;
      }

      @include min-pc {
        margin-bottom: 16px;
        font-size: 40px;
        text-align: left;
      }
    }

    &_checks {
      color: #000;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      font-size: 10px;
      gap: 8px;
      margin-bottom: 16px;
      display: none;
      justify-content: center;

      @include min-tablet {
        gap: 16px;
        display: flex;
        margin-bottom: 24px;
      }

      @include min-pc {
        justify-content: left;
        margin-bottom: 0;
      }

      svg {
        width: 12px;
        height: 12px;
      }

      @include min-tablet {
        font-size: 14px;
        svg {
          width: 14px;
          height: 14px;
        }
      }

      @include min-pc {
        font-size: 16px;
        gap: 24px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    li {

      @include min-tablet {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        gap: 8px;
      }
    }
  }
}

