@font-face {
  font-family: 'Bandeins Strange Variable';
  src: url('/fonts/BandeinsStrange-Bold.eot');
  src: local('/fonts/Bandeins Strange Variable'),
  local('BandeinsStrangeVariable'),
  url('/fonts/BandeinsStrange-Bold.woff2') format('woff2'),
  url('/fonts/BandeinsStrange-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BandeinsSans;
  src: local('/fonts/BandeinsSans'), local('BandeinsSans'),
  url('/fonts/BandeinsSans-Medium.woff2') format('woff2'),
  url('/fonts/BandeinsSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: BandeinsSans, sans-serif;
}
