@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font';
@import './root.scss';

@layer base {
  * {
    box-sizing: border-box;
  }
}

body {
  background: #000000;
  scroll-behavior: smooth;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.container {
  padding: 0 clamp(16px, 5.208vw, 100px);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: flex;
  padding: 6px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #fff;
  color: black;
  text-transform: uppercase;
  transition: background-color 0.4s ease-out;
  height: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: (20/16);

  &:hover {
    background: #f8f0ac;
  }

  &__secondary {
    background: rgba(255, 255, 255, 0.1);
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
