@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font';
@import './root.scss';

@layer base {
  * {
    box-sizing: border-box;
  }
}

body {
  background: #000000;
  scroll-behavior: smooth;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  font-family: var(--font-manrope);
}

.container {
  padding: 0 clamp(16px, 5.208vw, 100px);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: flex;
  padding: 6px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #fff;
  color: black;
  text-transform: uppercase;
  transition: background-color 0.4s ease-out;
  height: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: (20/16);

  &:hover {
    background: #f8f0ac;
  }

  &__submit {
    border-radius: 4px;
    background: #703EFC;
  }

  &__secondary {
    background: rgba(255, 255, 255, 0.1);
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.btn_submit {
  // height: 48px;
  padding: 16px 40px;
  border-radius: 4px;
  background: #703EFC;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.16px;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

}

.btn_secondary {
  font-weight: 500;
  font-size: 16px;
  background-color: #5B5B5B1A;
  color: #000;
  padding: 14px 28px;
  border-radius: 4px;
}

.btn_inscribe {
  background-color: #5B5B5B1A;
  padding: 9px 28px;
  opacity: 0.5;

  p {
    line-height: 6px;
  }

  span {
    font-size: 10px;
    line-height: 13px;
  }
}

.formik-form {
  input {
    padding: 11px 14px;
    border: 1px solid #CECECE;
  }
}