.title {
  color: #1c1c1c;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.caption {
  margin-bottom: 24px;
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.itemWallet {
  display: flex;
  padding: 12px 10px;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 126, 33, 0.3);
  background: rgba(255, 126, 33, 0.06);
  color: #000;
  font-style: normal;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }

  &_title {
    font-size: 18px;
    line-height: 26px;
  }
}
