.banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: rem(22px) 0;
  border-top: 1px solid rgba(255, 41, 41, 0.00);
  background-image: url('/imgs/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20px);
    color: var(--white);

    svg {
      width: rem(24px);
      height: auto;

      @include min-tablet {
        width: rem(32px);
      }
    }

    p {
      font-size: rem(12px);
      line-height: rem(26px);

      @include min-tablet {
        font-size: rem(20px);
        line-height: rem(36px);
      }
    }
  }
}