.toggleBar {
  position: fixed;
  display: inline-flex;
  gap: rem(12px);
  background-color: var(--black-20);
  border-radius: rem(4px);
  box-shadow: 0 2px 10px var(--black-a7);
  pointer-events: auto;
  left: 50%;
  top: rem(34px);
  transform: translateX(-50%);
  z-index: 1000;
  padding: rem(4px);

  &_item {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    font-size: rem(14px);
    line-height: rem(19.12px);
    align-items: center;
    justify-content: center;
    padding: rem(10.5px) rem(12px);
    border-radius: rem(4px);
    color: var(--white);
    text-transform: uppercase;

    &_isActive {
      background-color: var(--black);
      color: #fff;
    }
  }
}