.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #171926;

  canvas {
    height: 100%;
    width: 100%;
  }
}

.homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &_bg {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_inner {
    width: 100%;
    position: absolute;
    bottom: rem(120px);
    left: 0;
  }

  &_title {
    color: #fff;
    font-family: var(--font-manrope);
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include mobile {
      font-size: 32px;
    }
  }

  &_desc {

    font-family: var(--font-spacemono);
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @include mobile {
      font-size: 12px;
    }

    padding-top: 8px;

    @include min-tablet{
      padding-top: 12px;
    }
  }

  &_groupBtn {
    display: flex;
    gap: 12px;
    justify-content: center;

    margin-top: 16px;

    @include min-tablet{
      margin-top: 28px;
    }

    @include min-pc {
      justify-content: left;
    }

  }
}

.containerContent {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 16px;
  padding-right: 16px;

 @include min-tablet{
   padding-left: 24px;
   padding-right: 24px;
 }

  @include min-pc {
    display: flex;
    gap: 64px;
    justify-content: space-between;
  }
}

.left {
  margin-bottom: 32px;
  @include min-pc {
    margin-bottom: 0;
  }
}

.homepage_content {
  text-align: center;
  @include min-pc {
    text-align: left;
  }
}
