.workshop {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &_main {
    flex: 1;
    height: 100%;
  }

  &_preview {
    flex: 1;
    height: 100%;
  }
}
