.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include min-tablet {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.containerWorkshop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 37px 55px;
}

.logo {
  display: flex;
  gap: 16px;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;

  &.isWorkshop {
    color: var(--black);
  }
}

.workshopBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(8px);
  font-size: rem(12px);
  font-weight: 500;
  text-align: center;
  color: var(--black);
  background: rgba($color: #5b5b5b, $alpha: 0.1);
  text-transform: uppercase;
  border-radius: rem(4px);
  padding: rem(10px) rem(25px);

  @include min-tablet {
    font-size: rem(14px);
    padding: rem(14.5px) rem(29px);
  }
}