.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include min-tablet {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.containerWorkshop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 37px 55px;
}

.logo {
  display: flex;
  gap: 16px;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;

  &.isWorkshop {
    color: var(--black);
  }
}

.workshopBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(12px);
  font-weight: 500;
  width: rem(120px);
  height: rem(40px);
  text-align: center;
  color: var(--white);
  background: #703EFC;
  text-transform: uppercase;

  @include min-tablet {
  width: rem(140px);
  height: rem(48px);
  font-size: rem(14px);
  }
}