.workshop2d {
  color: white;
  padding-top: rem(100px);

  .container {
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 16px;
    &_heading {
      font-size: rem(18px);
      font-weight: 800;
      h2 {
        color: var(--purple);
      }
      p {
        margin-left: rem(30px);
      }
    }

    @include min-tablet {
      padding-right: 24px;
      padding-left: 24px;
    }

    .box {
      img {
        width: rem(300px);
        height: rem(300px);
      }

         
      canvas {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -o-crisp-edges;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
    }
    }
  }
}

#picture__input {
  display: none;
}

.picture {
  width: 256px;
  height: 253px;
  aspect-ratio: 16/9;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

